.project-survey-questions
  %legend
    Questions

  .row
    .col-sm-12
      %p.help-block
        Ajoutez ici les questions de la section du questionnaire
      = link_to new_admin_section_question_path(section), class: "btn btn-primary" do
        %i.fa.fa-plus
        Ajouter une question
      %br
      %br
  .row
    .col-sm-12
      .sections-list
        = render partial: "surveillance/admin/questions/question", collection: section.questions, locals: { f: f }
