.survey-sections
  %legend
    Sections

  = link_to new_admin_survey_section_path(survey), class: "btn btn-primary" do
    %i.fa.fa-plus
    Ajouter une section

  %br
  %br

  .sections-list
    = render partial: "surveillance/admin/sections/section", collection: survey.sections