.panel.panel-default.list-item.survey-container{ data: { id: section.id } }
  .panel-heading.list-item-inner
    .name.pull-left.padding5
      = section.title

    .drag-handle.pull-right
      %i.icon-resize-vertical

    .pull-right
      = link_to "Modifier", edit_admin_section_path(section), class: "btn btn-primary"

      = link_to admin_section_path(section), class: "btn btn-danger delete-btn", method: 'delete', data: { confirm: "Êtes-vous sûrs de vouloir supprimer cette section ?" } do
        %i.fa.fa-times
        Supprimer

    .clearfix
