.question
  %span.title
    = question.title.html_safe

  %strong.answer
    - field = question.field
    - answer = field.answer

    - if answer
      - if answer.option
        = answer.option.title
      - elsif field.other_choosed?
        = field.settings.other.label
        \:
        = field.answer_string
      - else
        Non répondu

    - else
      Non répondu

