.zone1-question-quizz
  .titre
    = survey.title

.zone-contenu
  .description.bloc
    = survey.last_page_description.html_safe

  .form-group
    = link_to surveys_root_path, class: "btn btn-orange" do
      Retour aux sondages
