= f.fields_for :settings, question.settings.where(key: key.to_s).first_or_initialize do |fb|
  = fb.input :value, as: :numeric, label: setting.admin_label, required: false

  = fb.hidden_field :key, value: key
  = fb.hidden_field :id, value: fb.object.id if fb.object.persisted?