%fieldset.option-field
  .form-group
    .col-sm-12
      .input-group
        = f.text_field :title, class: "form-control"

        = f.hidden_field :_destroy, data: { destroy: true }
        = link_to "#", class: "btn btn-danger input-group-addon", data: { "destroy-field" => true } do
          %i.fa.fa-times
          &nbsp;
          Supprimer
