%h3= question.title.html_safe
%table
  %thead
    %tr
      %th
      - question.options.each do |option|
        %th= option.title
  %tbody
    - question.questions.each do |sub_question|
      %tr
        %td= sub_question.title.html_safe
        - question.options.each do |option|
          %td= option.answers_for(sub_question).length
